
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@*<h2>Name: @ViewBag.Name</h2>
<h2>Name: @ViewBag.Id</h2>
<h2>Name: @ViewBag.Cgpa</h2>*@

<h2>Name: @Model.Name</h2>
<h2>ID: @Model.Id</h2>
<h2>Cgpa: @Model.Cgpa</h2>
